<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1>| Sign In | </h1>
        <form action="/user/create-session" method="post">
            <input type="email" name="email" placeholder="example@email.con">
            <input type="password" name="password" placeholder="Password">
            <button>Sign In</button>
        </form>
    </body>
</html>